<div class="hero-unit">
    <div class="container">
        <h1>Chettinad Mess</h1>
        <p class="lead">Taste of south indian curry will make to feel the beauty of life and take you to out of world. here we are to show some specialities of south indian food.</p>
        <p><a href="#" class="btn btn-success btn-large">Get Started</a></p>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span8">
        	<p>Taste of south indian curry will make to feel the beauty of life and take you to out of world. here we are to show some specialities of south indian food.
        	</p>
        
        <p class="lead">Marshmallow soufflé wypas.</p>
        <p>Taste of south indian curry will make to feel the beauty of life and take you to out of world. here we are to show some specialities of south indian food.
        </p>
        <div class="row-fluid">
		    <div class="span4">
	        <h4>Our Clients</h4>
	        <p>Hello These are our clients. <a href="#">Click here</a>.</p>
	        <a href="#" class="btn btn-primary"><i class="icon-heart icon-white"></i> Our Clients</a>
	    </div>
	    <div class="span4">
	        <h4>Our Clients</h4>
	        <p>Hello These are our clients. <a href="#">Click here</a>.</p>
	        <a href="#" class="btn btn-primary"><i class="icon-music icon-white"></i> Our Clients</a>
	    </div>
	    <div class="span4">
	        <h4>Our Clients</h4>
	        <p>Hello These are our clients. <a href="#">Click here</a>.</p>
	        <a href="#" class="btn btn-primary"><i class="icon-file icon-white"></i> Our Clients</a>
    </div>
</div>

        </div>

        <div class="span4">
        	<ul class="nav nav-list">
        <li class="nav-header">Our Services</li>
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Web Designing</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Android Applications</a></li>
        <li class="divider"></li>
        <li class="nav-header">Our Services</li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Web Designing</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Android Applications</a></li>
        <li class="divider"></li>
        <li><a href="#">Help</a></li>
    </ul>
        </div>
    </div>

</div>